/*.suo
*.user
*.suo
/pavement_options.yaml
/config_local.yaml
/TestResult.xml
/build
/_build
/_js/app
/_js/deps.js
[Oo]bj/
[Bb]in/
*.suo
*.user
*.vspscc
*.vssscc
_ReSharper.*
/Packages
*.ncrunchsolution
*.pyc
*[Nn][Cc]runch*
*.[Vv]isual[Ss]tate*
Custom/
/_deploy
config_local.yaml
