<section>
    <div class="row-fluid">
        <!-- ko if: game.Images.length > 0 -->
        <ul class="thumbnails" data-bind="foreach: game.Images">
            <li style="float:left;">
                <a href="#" class="thumbnail" data-bind="click:$parent.select">
                    <img style="width: 260px; height: 180px;" data-bind="attr: { src: media.m }, visible: show"/>
                    <img style="width: 260px; height: 180px;" data-bind="visible: !show" src="/Content/images/Piramid.png"/>
                </a>
            </li>
        </ul>
        <!-- /ko -->
        <!-- ko if: game.Images.length === 0 -->
            <h2>WINNER!</h2>
        <!-- /ko -->
    </div>
</section>