<section>
    <div class="column-fluid" data-bind="foreach: challengers">
        <div class="column-fluid" data-bind="template: { name: 'gameview', data: $data}">
        </div>
        <hr>
    </div>
</section>
<section>
    <div class="row-fluid" data-bind="template: { name: 'gameview', data: game}">
    </div>
</section>

<script type="text/html" id="gameview">
    <div><label>Player: </lable><input type="text" data-bind="value: Player" /></div>
    <!-- ko if: Images.length > 0 -->
        <ul class="thumbnails" data-bind="foreach: Images">
            <li style="float:left;cursor:pointer;">
                <img style="width: 260px; height: 180px;" 
                    data-bind="click: $parents[1].select, attr: { src: show ? media.m : '/Content/images/Piramid.png'}"/>
            </li>
        </ul>
    <!-- /ko -->
    <!-- ko if: Images.length === 0 -->
        <h2>WINNER!</h2>
    <!-- /ko -->
</script>